/ProjetoLista10/nbproject/private/
*.xml
ProjetoLista10/manifest.mf
ProjetoLista10/nbproject/genfiles.properties
ProjetoLista10/nbproject/project.properties
/ProjetoLista10/src/System10/nbproject/private/
/ProjetoLista10/build/